:root {
  --primari-color: #2e2f42;
  --second-color: #ffffff;
  --another-color: #4d5ae5;
  --text-color: #434455;
  --text-color-f: #f4f4fd;
  --color-border-btn: 1px solid #e7e9fc;
  /* --transition:  */
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: var(--second-color);
  background: linear-gradient(rgb(14, 64, 129), rgb(49, 51, 34)) no-repeat;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  border-radius: 50%;
}

.gallery {
  display: flex;
  gap: 50px;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  margin: 20;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}